# libraries required to further develop this library
# required by simulationcraft
bitarray 
fixedint

# formatting
black

# type checking
mypy

# loading files to update data
requests

# library versioning
setuptools-git-versioning
