# libraries required to further develop this library
# required by simulationcraft
bitarray 
# formatting
black
# required by simulationcraft
fixedint
# type checking
mypy
# loading files to update data
requests
# library versioning
setuptools-git-versioning
